

.intro-img{
    height: 800px;
    background-image: url(../../img/intro-bg_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-content{
    margin-top: 35%;
    height: 300px;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    color: rgb(255,255,255);
    
}

footer{
    padding: 10px; background-color: #101010;
    color:#9d9d9d; bottom: 0;
    width: 100%;
}

.panel-gap{
    margin-top: 25%;
}

.gap{
    margin-top: 10%;
}

.gap-product{
    margin-top: 10%;
    text-align: center;
}

.thumb-back{
    margin-top: -5px;
    text-align: center;
}

a:hover{
    text-decoration: none;
}

.thumbnail_hover:hover{
    background-color: rgba(153, 204, 255,0.3);
}